<app-ser-slider></app-ser-slider>
<div class="container-fluid mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">

                <div class="list-group">
                    <nav>
                    <a href="#" class="list-group-item active font-weight-bold"> <span>ISO CERTIFICATIONS</span></a>
                    <a href="#" class="list-group-item"> <span>ISO 9001 (QMS)</span></a>
                    <a href="#" class="list-group-item"><span>ISO 14001 (EMS)</span></a>
                    <a href="#" class="list-group-item"> <span>ISO 45001 (OHS)</span></a>
                </nav>
                
                
                
                  </div>
            </div>
            <!-- 1 end -->
            <div class="col-md-8">
                    <app-iso-benefits></app-iso-benefits>
            </div>
            <!-- 2 end -->
        </div>
    </div>

</div>

<app-iso9001 ></app-iso9001>
<app-iso14001></app-iso14001>
<app-iso45001></app-iso45001>
