.page-holder {
    min-height: 60vh;
  }
  
  .bg-cover {
    background-size: cover !important;
  }
  

  #color-overlay {
    position: absolute;
    top: 20;
    
    left: 0;
    width: 100%;
    min-height: 60vh;
  
    opacity: 0.2;
 }