<style>
    .card_shadow {
        box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.267);
    }
</style>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card card_shadow" style="border-radius: 50px;">
                
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #6E7180; ">Benefits Of ISO Certification In UAE</h5>
                  <p class="card-text text-center">Universal Certification and Services (UCS) is a certification body with an international accreditation for management system certification and offers many ISO certification in UAE such as, ISO 9001:2015 quality management system, ISO 14001:2015 environmental management system, ISO 45001:2018 occupational health</p>
                  
                </div>
              </div>
        </div>
        <!-- 1 end -->
        <div class="col-md-4">
            <div class="card card_shadow" style="border-radius: 50px;">
                
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #6E7180; ">The Process Of Getting ISO Certified In UAE</h5>
                  <p class="card-text text-center mb-5">The process of Getting ISO Certified company in the UAE is simple and achievable in atimely manner and affordable price based on the company size. UCS can certify anyorganization or company size or type. The process of getting ISO certification</p>
                  
                </div>
              </div>
        </div>
        <!-- 2 end -->
        <div class="col-md-4">
            <div class="card card_shadow" style="border-radius: 50px;">
                
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #6E7180; ">How UCS Can Help You In Getting An ISO Certification</h5>
                  <p class="card-text text-center">UCS is a certification body located in the United Arab Emirates and can support and help you in getting an ISO certification with the highest quality of services, reasonable time, and affordable price.
                    The process of getting ISO certification in UAE has three simple steps until you receive the certification and two steps after the certificate.
                  </p>
                 
                </div>
              </div>
        </div>
        <!-- 3 end -->
    </div>
</div>
