<div class="container-fluid" style="background: linear-gradient(to right,#E9E9E9, #939393, #949494);">
<div class="container">
<div class="row">
    <div class="col-md-6">
        <a class="navbar-brand ml-5 mr-5 mt-5" href="#"><B><span style="color: #7F1416; font-size: 32px;">UA Expert Consultant</span></B> </a>
    </div>
    <!-- 1 end -->
    <div class="col-md-6">
        <h3 style="font-family:
        Roboto, sans-serif;" class="font-weight-bold mt-3 ml-4 text-white">Why UAEC</h3>
        <ul class="text-justify ml-4 text-white">
        <li>Reliable ISO standards certification services</li>
        <li>Fast response to your inquires</li>
        <li>Quality and excellence service</li>
        <li>International service, we can provide certifications all over the world through our reliable partners</li>
        <li>Improving the business governance & control</li>
        </ul>
    </div>
    <!-- 2 end -->
</div>
</div>
</div>
