
<div class="container-fluid mt-5">
<div class="container">
<h1 class="text-center font-weight-bold" style="font-family:
Roboto, sans-serif;">Leading ISO Certification Services</h1>
<div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
<p class="text-center">Universal Certification & Services (UCS) is here to help you with designing success. Our company provides a wide range of ISO Certification Services  that you can benefit from. These include, but are not limited to, providing consultation for companies, training for individuals and employees and ISO certificates for individuals and companies of different ISO standards.</p>
<div class="text-center">
<button type="button" class=" btnchange btn btn-outline-secondary"><b>About Us</b><i class="ml-2 fas fa-arrow-right"></i></button>
</div>
</div>
<div class="col-md-2"></div>
</div>
</div>
</div>
<style>
    .btnchange{
        border-radius: 22px;
    }
    .btnchange:hover{
        background-color: #7F1416;
        color: white;
    }
</style>