<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
<h3 style="font-family:
Roboto, sans-serif;" class="font-weight-bold">ISO Standards Help Businesses To​</h3>
<ul class="text-justify">
<li>Increase revenue, through setting up effective business goals and efficient processes</li>
<li>Align strategic resource planning & execution with existing business targets</li>
<li>Increase customer satisfaction, through customer focused initiatives</li>
<li>Access new markets, through ensuring the compatibility of products and services</li>
<li>Implement risk management that eliminate the barriers of achieving the business goals</li>
</ul>
<div class="text-center">
<button type="button" class=" btnchange btn btn-outline-secondary"><b>Consulting</b></button> 
</div>
</div>

<style>
    .btnchange{
        border-radius: 22px;
    }
    .btnchange:hover{
        background-color: #7F1416;
        color: white;
    }
</style>
<!-- break -->
            <div class="col-md-6 mb-5">
                <div class="text-center">
                <img style="border-radius: 15px;"  width="80%" height="500px" src="https://img.freepik.com/free-photo/portrait-business-people-stacking-hand-together-using-as-background-concept-teamwork-partnership_219644-415.jpg?size=338&ext=jpg" alt="">
            </div>
                <div class="card" style=" background-color: #6B6B6B; width: 18rem; z-index: 2; margin-top: -200px; border-radius: 15px;">
                    <div class="card-body">
                      <p class="card-title text-white"><i class="fas fa-bookmark"></i>  &nbsp; <b> We Can Help You In Your Journey To Success </b>
                      </p>
                      
                      <p class="card-text" style="color: #ecf0f1;">We provide hassle-free services that can improve your business further.</p>
                     
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>




<!-- new add -->

<div class="container-fluid mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="text-center">
                <img style="border-radius: 15px;"  width="80%" height="500px" src="https://cdn.crello.com/api/media/small/171886106/stock-photo-woman-using-laptop" alt="">
            </div>
                <div class="card" style=" background-color: #6B6B6B; width: 18rem; z-index: 2; margin-top: -450px; border-radius: 15px; ">
                    <div class="card-body">
                      <p class="card-title text-white"><i class="fas fa-indent"></i> &nbsp; &nbsp;  
                       <b> Professional Team</b>
                      </p>
                      
                      <p class="card-text" style="color: #ecf0f1;">Our professional team provides you with high quality services in the shortest time wherever you are.</p>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-6 mt-5" >
<h3 style="font-family:
Roboto, sans-serif;" class="font-weight-bold">How UAEC Can Help You</h3>
<ul class="text-justify">
<li>Reliable ISO standards certification services</li>
<li>Fast response to your inquires</li>
<li>Quality and excellence service</li>
<li>International service, we can provide certifications all over the world through our reliable partners</li>
<li>Improving the business governance & control</li>
</ul>

</div>

<style>
    .btnchange{
        border-radius: 22px;
    }
    .btnchange:hover{
        background-color: #7F1416;
        color: white;
    }
</style>
<!-- break -->
           
        </div>
    </div>
</div>

<!-- new add end -->
