<style>
    i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

.card {
    box-shadow: 5px 0px 5px 5px #0000002c;
    
}

</style>

<div class="container-fluid mb-5">
    <div class="container">
        <div class="row">
            
            <!-- 0 end -->
            <div class="col-md-4">
               <!-- card -->
               <div class="container">
               <div class="card" style="border-radius: 8px;">
               
                <div class="card-body">
                    <i class="fas fa-map-marker-alt text-primary" style="background-color: #E7EAFC;"></i>
                  <h5 class="card-title mt-3">Our Location</h5>
                  <p class="card-text" style="font-size: 14px; ">Ajman Free Zone Area UAE, Ajman</p>
                 
                </div>
              </div>
              </div>
            <!-- card end --> 
            </div>
            <!-- 1 end -->
            
            <!-- 2 end -->
            <div class="col-md-4">
                <div class="container ">
                   <!-- card -->
               <div class="card" style="border-radius: 8px;">
                
                <div class="card-body">
                    <i class="fas fa-phone text-primary" style="background-color: #E7EAFC;"></i>
                  <h5 class="card-title mt-3">Call Us On</h5>
                  <p class="card-text" style="font-size: 14px; ">+971 58 588 1553</p>
                 
                </div>
              </div>
            </div>
            <!-- card end -->
            </div>
            <!-- 3 end -->
           
            <div class="col-md-4">
                <div class="container">
                <!-- card -->
                <div class="card" style="border-radius: 8px;">
                
                    <div class="card-body">
                        <i class="fas fa-envelope text-primary" style="background-color: #E7EAFC;"></i>
                      <h5 class="card-title mt-3">Call Us On</h5>
                      <p class="card-text" style="font-size: 14px; ">+971 58 588 1553</p>
                     
                    </div>
                  </div>
                  </div>
                <!-- card end -->
            </div>
            <!-- 5 end -->
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
